<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id = "employee" class="com.example.Employee">
    <constructor-arg>
        <value>101</value>

    </constructor-arg>
    <constructor-arg>
        <value>kamal</value>
    </constructor-arg>
    <property name="name">
        <value>jasneet</value>
    </property>

</bean>



</beans>